version: '2.11.2'

services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: crud
    ports:
      - 5432:5432

  # app:
  #   build: .
  #   command: npm run dev
  #   ports:
  #     - 3000:3000
  #   volumes:
  #     - .:/usr/app