@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #7887AB;
    --cor1: #4F628E;
    --cor2: #2E4172;
    --cor3: #162955;
    --cor4: #061539;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    font-family: var(--fonte-padrao);
    background-color: var(--cor3);
}

header {
    background-color: var(--cor3);
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.423);
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.349);
}

section > div#login {
    background-color: var(--cor3);
    max-width: 300px;
    padding: 50px 30px;
    margin: auto;
    border-radius: 10px;
}

#error {
    color: red;
    text-align: center;
    display: none;
}

#sucess {
    display: none;
    color: green;
    text-align: center;
}

div#login > h1 {
    color: white;
    margin-bottom: 10px;
    text-align: center;
}

input {
    padding: 5px;
}

label {
    color: white;
    display: block;
    margin-top: 15px;
}

#name {
    color: white;
    width: 100%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid white;
    background-color: var(--cor3);    
}

#name:focus {
    color: white;
    outline: none;
}

#email {
    color: white;
    width: 100%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid white;
    background-color: var(--cor3);
}

#email:focus {  
    color: white;
    outline: none;
}

#password {
    color: white;
    width: 100%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid white;
    background-color: var(--cor3);
}

#password:focus {
    color: white;
    outline: none;
}

#confirm-password {
    color: white;
    width: 100%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid white;
    background-color: var(--cor3);
    margin-bottom: 30px
}

#confirm-password:focus {
    color: white;
    outline: none;
}

#register-button {
    font-weight: bold;
    color: white;
    background-color: var(--cor4);
    margin-top: 5px;
    width: 100%;
    padding: 8px;
    border: 0px;
}

#register-button:hover {
    cursor: pointer;
    background-color: #0615398a;
}

div > p {
    color: white;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

div a {
    font-weight: bold;
    color: var(--cor0);
}

main {
    height: 100%;
    background-color: var(--cor3);
}

section {
    background-color: var(--cor3);
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    color: black;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}